@model MarmarayBakimMVC.Models.Ekipman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ekipman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkipmanKod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkipmanKod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkipmanTur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkipmanTur.EkipmanTurAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Istasyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Istasyon.IstasyonAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sistem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sistem.SistemAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EkipmanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
