@model IEnumerable<MarmarayBakimMVC.Models.Ekipman>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EkipmanKod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkipmanTur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Istasyon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sistem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EkipmanKod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkipmanTur.EkipmanTurAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Istasyon.IstasyonAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sistem.SistemAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EkipmanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EkipmanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EkipmanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
